
    <div class="row">
        <h2>Servidor em operação</h2>
        <h4>[Route("api/[controller]/Liberanegociacoes")] - Liberanegociacoes(double negociacaoId)</h4>
        <h5>@Html.ActionLink("Testar função", "Liberanegociacoes", "Negociacao", new { negociacaoId = 1 }) 
    </div>
